---
import Layout from "../../../layouts/Layout.astro";


---

<Layout>
    <h1>Astro</h1>

    <div>
        <a href="/demos/astro/client-islands">Client Islands</a>
        <a href="/demos/astro/client-islands">Server Islands</a>
        <a href="/demos/astro/astro-component">Astro Component</a>
    </div>
</Layout>