---
import ThemeToggle from "./Inputs/ThemeToggle.astro";
import LOGO from "../../assets/logo.png"
import Image from "astro/components/Image.astro";

const {contentContainerId = ""} = Astro.props;
---

<nav
    id="navBar" 
    class="fixed top-0 left-0 right-0 z-50 h-[48px] w-full bg-background transition-transform duration-300 ease-in-out"
>
    <div class="mx-auto h-full flex items-center justify-between px-4">
        <a href="/" class="text-foreground font-bold text-lg">
            <Image 
                loading="eager" 
                src={LOGO} 
                alt={"Logo"} 
                height={56}
            />
        </a>
        <ul class="space-x-4 hidden md:flex">
            <li><ThemeToggle /></li>
            <li><a href="/demos" class="text-foreground hover:text-gray-300">Demos</a></li>
            <li><a href="/projects" class="text-foreground hover:text-gray-300">Projects</a></li>
        </ul>
        <button id="menuToggle" class="text-foreground md:hidden hover:scale-110 focus:outline-none transition-all duration-100">
        <!-- MAKE SVG ANIMATION TO X BUTTON WITH GSAP -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>
    </div>
    <div id="mobile-nav-container" class="hidden fixed top-[48px] left-0 w-dvw h-dvh z-50 backdrop-blur-xs md:hidden">
        <div id="mobile-nav-menu" class="fixed bg-muted w-8/12 xs:w-6/12 sm:w-4-12 h-full overflow-hidden ">
            <ul class="p-4">
                <li class="text-muted-foreground transition-colors hover:text-foreground hover:underline">
                    <a href="/">Home</a>
                </li>
                <li class="text-muted-foreground transition-colors hover:text-foreground hover:underline">
                <a href="/demos">Demos</a>
                </li>
                    <li class="text-muted-foreground transition-colors hover:text-foreground hover:underline">
                    <a href="/projects">Projects</a>
            </ul>
        </div>
        

    </div>
</nav>
<script>
    import {gsap} from "gsap";
    const navbarElement = document.getElementById("navBar");
    let isMobileMenuOpen = false;
    const menuToggle = document.getElementById("menuToggle");
    const mobileNavContainer = document.getElementById("mobile-nav-container");
    const mobileNavMenu = document.getElementById("mobile-nav-menu");

    if (navbarElement && menuToggle && mobileNavContainer && mobileNavMenu) {
        //initialize menu to be on the left
        gsap.to(mobileNavMenu, {
            duration: 0.01,
            x: "-100%",
            onFinish: () => {
                mobileNavContainer.classList.add("hidden");
            }
        });
        menuToggle.addEventListener("click", () => {
            if (isMobileMenuOpen) {
                const tl = gsap.timeline();
                
                tl.to(mobileNavMenu, {
                    duration: 0.2,
                    x: "-100%",
                })
                .to(mobileNavContainer, {duration: 0.1, opacity: 0})
                .add(() => {
                    mobileNavContainer.classList.add("hidden");
                });
                isMobileMenuOpen = false;
            } else {
                mobileNavContainer.classList.remove("hidden");

                gsap.to(mobileNavContainer, {duration: 0.15, opacity: 1});
                gsap.to(mobileNavMenu, {duration: 0.3, x: "0%"});
                isMobileMenuOpen = true;
            }
        })

    }

</script>