---
import Layout from "../../layouts/Layout.astro";


---

<Layout hasNavbar>
	Demos
    <a href="/demos/FabricSvg">Fabric</a>
</Layout>
<script>
	//initialize gsap
	import gsap from "gsap";
	

</script>
