---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import PageSection from "../layouts/PageSection.astro"
import RainBackdrop from "../components/canvases/RainBackdrop.astro"
import GardenBackdrop from "../components/canvases/GardenBackdrop.astro"
import MainBackdrop from "../components/MainBackdrop/index.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<PageSection id="snow">
		<div class="absolute top-0 left-0 w-dvw h-dvh z-0">
			<MainBackdrop />
		</div>
		<div class="absolute w-full h-full flex items-center justify-evenly gap-4 z-10">
			
		</div>
	</PageSection>
</Layout>
