---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import PageSection from "../layouts/PageSection.astro"
import RainBackdrop from "../components/canvases/RainBackdrop.astro"
import SnowBackdrop from "../components/canvases/SnowBackdrop.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<PageSection id="snow">
		<div class="absolute top-0 left-0 w-dvw h-dvh z-0">
			<SnowBackdrop />
		</div>
		<div class="absolute w-full h-full flex items-center justify-evenly gap-4 z-10">
			<button class=" border border-solid border-accent  p-3 rounded-lg text-foreground surface">
				Add a thing here
			</button>
			<button class=" border border-solid border-accent  p-3 rounded-lg text-foreground surface">
				Add a thing here
			</button>
			<button class=" border border-solid border-accent  p-3 rounded-lg text-foreground surface">
				Add a thing here
			</button>
			<button class=" border border-solid border-accent  p-3 rounded-lg text-foreground surface">
				Add a thing here
			</button>
		</div>
	</PageSection>
	<PageSection id="welcome">
		<Welcome />
	</PageSection>
	<PageSection id="rain">
		<div class="absolute top-0 left-0 w-dvw h-dvh z-0">
			<RainBackdrop />
		</div>
		<div class="w-full h-full flex items-center justify-evenly gap-4">
			<button class="surface border border-solid border-accent  p-3 rounded-lg text-foreground">
				Add a thing here
			</button>
			<button class="surface border border-solid border-accent  p-3 rounded-lg text-foreground">
				Add a thing here
			</button>
		</div>
	</PageSection>
</Layout>
