---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<main class="text-foreground m-auto">
		<h1 class="text-4xl font-bold ml-3 md:ml-9">Hi! Thanks for coming!</h1>
	</main>
</div>

<style>
	
</style>
