---

import Layout from "../../layouts/Layout.astro";
import Board from "../../projects/React/soundboard"
---

<Layout hasNavbar>
    <div class="m-auto w-11/12 h-screen">
        <Board client:load />
    </div>
</Layout>